.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-top: 25%;
}
.App header{
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 20px;
}
input{
  width: 150px;
  height: 30px;
  background-color: rgb(9, 9, 34);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
select{
  width: 100px;
  height: 37px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgb(9, 9, 34);
  color: white;
}
.equal{
  margin-left: 8%;
  font-size: 30px;
  
}

@media screen and (min-width:850px) {
  .App{
    margin-top: 10%;
  }
  .equal{
    margin-left: 2%;
  }
  
}